.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  background-image: linear-gradient(to right bottom,
  rgba(rgb(105, 240, 105), 0.8),
  rgba(green, 0.8)),
url(./../public/LW3punks/4.png);
background-size: cover;
background-position: top;
position: relative;
}


.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
  transition: all 0.2s;
}

.image:hover {
  transform: translateY(0.5rem) translateX(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(rgb(178, 178, 240) 0.2);
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.button {
  background-color: rgb(75, 78, 230);
  border: none;
  color: #ffffff;
  font-size: 15px;
  width: 15rem;
  cursor: pointer;
  margin-bottom: 2%;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.5rem;
}

.button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(rgb(178, 178, 240) 0.2);
}

.button:hover ::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
